
  <main>

      <div class="gallery">
        <a *ngFor="let vehicle of getFeaturedVehicles();" [routerLink]="['details/',vehicle.vin]" routerLinkActive="active">
          <div class="gallery__item">
            <img src={{vehicle.photo}} alt="Yosemite" />
            <div class="gallery__details">
              <span class="moodel">{{vehicle.model.make.make}}</span>
              <span>{{vehicle.model.modelname}}</span>
              
            </div>
          </div>
        </a>
      </div>
  

   
  
  <div class="product_container">
      <h1>Product Catalog</h1>
       <form class="search">
      <select name="pageSize"  [(ngModel)]="pageSize" [ngModelOptions]="{ standalone: true }">
        <option value="10">10</option>
        <option value="20">20</option>
      
      </select>
      <select name="order" [(ngModel)]="order"  [ngModelOptions]="{ standalone: true }" >
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
      <select name="sortBy" [(ngModel)]="sortBy" [ngModelOptions]="{ standalone: true }">
        <option value="model">Model</option>
        <option value="make">Make</option>
        <option value="salesprice">Price</option>
        <option value="msrp">MSRP</option>
        </select>

        <select name="type" [(ngModel)]="type"  [ngModelOptions]="{ standalone: true }">
          <option value="all">All</option>
          <option value="new">New</option>
          <option value="used">Used</option>
        </select>
      <input type="search" name="searchQuery" [(ngModel)]="searchQuery"    [ngModelOptions]="{ standalone: true }" (keyup.enter)="searchVehicles()">
       <!-- Button to trigger search action -->
        <button type="button"  (click)="searchVehicles()">Search</button>
    
      </form>

      <div class="catalog_list">
        <div *ngFor="let vehicle of vehicles" >
          <div class="catalog_item" >
            <a [routerLink]="['details/',vehicle.vin]" routerLinkActive="active"><img src={{vehicle.photo}} alt=""></a>
            <div class="catalog_details">
              <h6>{{vehicle.model.make.make}}<span>{{vehicle.model.modelname}}</span></h6><span class="price">
                {{vehicle.saleprice}}</span><span class="mileage">{{vehicle.vehicleid}}</span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>
    
  
  