

    
.gallery {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-height: 80vh;
    overflow-x:scroll; /* or scroll, hidden, visible */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

.gallery__item {
    flex: 0 0 auto; /* Prevent items from growing or shrinking */
    width: 100vw; /* Set width to 100% of the viewport width */
    height:75vh; /* Set height to 70% of the viewport height */
    scroll-snap-align: start; /* Ensure alignment during snapping */
    overflow:hidden; /* Hide overflow if needed */
}

.gallery__item img {
    width: 100%; /* Set width to 100% of the container's width */
    height: 95%; /* Set height to 100% of the container's height */
    object-fit:cover; /* Maintain aspect ratio while covering the container */

}

.search{
    display: flex;
    justify-content: center;
}

.product_container{
    text-align:center;
}


  .catalog_list {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
  }
  
  .catalog_item {
    width: auto;
    height: auto;
    margin: 10px; /* Add some space between items */
    text-align: center; /* Center text within items */
  }
  
  .catalog_item img {
    width:250px;/* Ensure images don't exceed their container's width */
    height:250px;
    object-fit:cover; /* Maintain aspect ratio while covering the container */

  }

