<section class="panel">
    <div *ngIf="vehicle$ | async as vehicle" class="panel-body">
        <div class="vehicle-details">

          <div class="aspect-ratio-box">
          <img src={{vehicle.photo}} alt="{{vehicle.model}}">
          </div>
          
          <div class="table-wrapper">
          <table>
            <tr>
              <td><strong>Mileage:</strong></td>
              <td><span class="info">{{vehicle.mileage}}</span></td>
            </tr>
            <tr>
              <td><strong>Transmission:</strong></td>
              <td><span class="info">{{vehicle.transmission}}</span></td>
            </tr>
            <tr>
              <td><strong>Color:</strong></td>
              <td><span class="info">{{vehicle.color}}</span></td>
            </tr>
            <tr>
              <td><strong>Interior:</strong></td>
              <td><span class="info">{{vehicle.interior}}</span></td>
            </tr>
            <tr>
              <td><strong>MSRP:</strong></td>
              <td><span class="info">{{vehicle.msrp}}</span></td>
            </tr>
          </table >
          </div>

        </div>
        <div  class="vehicle-metadata">git
            <h4  class="pro-d-title">
                <a  href="#" class="">
                  {{ vehicle.model.make.make}}
                </a>
                <a  href="#" class="">
                  {{ vehicle.model.modelname}}
                </a>
            </h4>
            <p>
                {{vehicle.description}}
            </p>
            <div class="product_meta">
                <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#" *ngIf="vehicle.new==true; else usedContent">New</a><ng-template #usedContent><a  rel="tag" href="#">Used</a></ng-template> </span>
            </div>
            <div class="m-bot15"> <strong>Price : </strong> <span class="price">{{vehicle.saleprice}}</span>  <span  class ="bought" *ngIf="vehicle.issold==true">{{vehicle.saleprice}}SOLD </span></div>
            <p>
                <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            </p>
        </div>
    </div>
</section>
